<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>Filter1</filter-name>
  	<display-name>Filter1</display-name>
  	<description></description>
  	<filter-class>org.eclipse.filter.Filter1</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Filter1</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>InscriptionServlet</servlet-name>
  	<display-name>InscriptionServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.InscriptionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConnexionServlet</servlet-name>
  	<display-name>ConnexionServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.ConnexionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjoutProduitServlet</servlet-name>
  	<display-name>AjoutProduitServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.AjoutProduitServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AchatServlet</servlet-name>
  	<display-name>AchatServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.AchatServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PanierServlet</servlet-name>
  	<display-name>PanierServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.PanierServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommandeServlet</servlet-name>
  	<display-name>CommandeServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.CommandeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListeCommandesServlet</servlet-name>
  	<display-name>ListeCommandesServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.ListeCommandesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeconnectServlet</servlet-name>
  	<display-name>DeconnectServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.DeconnectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProduitsCommandeServlet</servlet-name>
  	<display-name>ProduitsCommandeServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.ProduitsCommandeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommandesUtilisateurServlet</servlet-name>
  	<display-name>CommandesUtilisateurServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.CommandesUtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InscriptionServlet</servlet-name>
  	<url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConnexionServlet</servlet-name>
  	<url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjoutProduitServlet</servlet-name>
  	<url-pattern>/ajout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AchatServlet</servlet-name>
  	<url-pattern>/achat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PanierServlet</servlet-name>
  	<url-pattern>/panier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommandeServlet</servlet-name>
  	<url-pattern>/commande</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListeCommandesServlet</servlet-name>
  	<url-pattern>/listeCommandes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeconnectServlet</servlet-name>
  	<url-pattern>/deconnect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProduitsCommandeServlet</servlet-name>
  	<url-pattern>/produitsCommande</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommandesUtilisateurServlet</servlet-name>
  	<url-pattern>/commandesUtilisateur</url-pattern>
  </servlet-mapping>
 
 
  
</web-app>
